/*font: 
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

*/



.box_full {
    width: 100%;
    background-image: url("images/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    height: calc(100vw * (850/1920));
    color: white;
    box-sizing: border-box;
    padding: 40px;

    align-content: end;
}
    .box_full h2 {
        color: white;
        margin: 0;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 36px;
    }
    .box_full p {
        color: white;
        margin: 0;
        margin-top: 10px;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 22px;
    }

.box_image {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: black;
    padding: 10px 30px 20px 30px;
    gap: 20px;
    align-items: stretch; /* make both sides equal height */
}

    .box_image img {
        flex: 1 1 50%;
        max-width: 1000px;
        height: 100%; /* match height of text column */
        object-fit: cover; /* avoid distortion */
    }

    .box_image .text_box {
        flex: 1 1 50%;
        display: flex;
        flex-direction: column;
    }

        .box_image .text_box h2 {
            color: white;
            font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial;
            font-size: 32px;
            margin: 0;
        }

        .box_image .text_box p {
            color: white;
            margin: 10px 0 0 0;
            font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial;
            font-size: 22px;
        }

    .box_image .about-btn {
        margin-top: auto;
        padding: 12px 24px;
        background: black;
        color: white;
        border: white solid 1px;
        cursor: pointer;
        font-size: 20px;
        align-self: flex-start;
        text-decoration: none;
    }
    .box_image .about-btn:hover {
        background: white;
        color: black;
        border: white solid 1px;
    }



.box_text_c {
    text-align: center;
    padding: 10px;
    color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
    .box_text_c p {
        margin: 0;
        margin-top: -10px;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 20px;
    }
    .box_text_c h2 {
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 24px;
    }


/*CARDS News*/
.news-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.news-card {
    width: 330px;
    background: #111;
    border-radius: 17px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 18px rgba(255,255,255,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    height: stretch;
    font-weight: 500;
}

    .news-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 25px rgba(255,255,255,0.08);
    }

.news-image {
    position: relative;
    width: 100%;
    height: 185px;
    overflow: hidden;
    height: stretch;
}

    .news-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        height: stretch;
    }

.news-card:hover .news-image img {
    transform: scale(1.05);
}

.news-badge {
    position: absolute;
    right: 12px;
    bottom: 12px;
    font-size: 14px;
    background: rgba(0,0,0,0.6);
    padding: 4px 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 15px;
}

.news-title {
    font-size: 22px;
    margin: 0;
    padding-bottom: 5px;
    color: #fff;
}

.news-sub {
    margin: 0;
    padding-bottom: 15px;
    opacity: 0.75;
    color: #ddd;
}

.news-bottom {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 12px;
}

.media-info span {
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.7;
    color: #ddd;
}

.news-image .ui-like {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 5;
}

/*CARDS Info*/
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 40px 0;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.info-card {
    width: 260px;
    background: #111;
    border-radius: 14px;
    padding: 30px 20px;
    text-align: center;
    color: #f1f1f1;
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
    border: 1px solid #222;
    position: relative;
    transition: 0.25s;
    height: stretch;
}

    .info-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 0 25px rgba(255,255,255,0.15);
    }

    .info-card img {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        margin-bottom: 15px;
        border: 3px solid #333;
    }

    .info-card h2 {
        margin: 10px 0 0;
        font-size: 20px;
        font-weight: 600;
    }

.location {
    color: #aaa;
    margin-bottom: 15px;
}

.contact {
    font-size: 14px;
    color: #bdbdbd;
    margin-bottom: 15px;
}

    .contact span {
        color: #666;
    }

.social {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 15px 0;
}

    .social a {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #222;
        color: #fff;
        font-size: 16px;
        transition: 0.25s;
    }

        .social a:hover {
            background: #00aaff;
        }

.bottom-row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.connect {
    color: #6bbaff;
    text-decoration: none;
    font-size: 15px;
}

.heart {
    color: #ff4d6b;
    cursor: pointer;
    transition: 0.2s;
}

    .heart:hover {
        transform: scale(1.2);
    }





/*CARDS Services*/

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
.service-card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    background: black;
    padding: 40px 20px;
    box-sizing: border-box;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .service-card img {
        width: 70px;
        margin-bottom: 20px;
        opacity: 0.9;
    }

    .service-card h2 {
        margin: 0;
        font-size: 18px;
        line-height: 1.3;
        color: white;
        text-align: left;
        display: inline-block;
        margin: 0 auto;
        width: 120px;
    }
