.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(5,5,5);

    position: sticky;
    top: 0;
    z-index: 999;
}
.header_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/*footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.footer-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left .logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo-icon {
    margin-right: 10px;
    font-size: 26px;
}

.footer-right {
    max-width: 700px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    gap: 30px;
}

    .footer-nav a {
        color: white;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
    }

        .footer-nav a:hover {
            text-decoration: underline;
        }

.contact p {
    color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 5px 0;
}
.contact a {
    color: white;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 5px 0;
    text-decoration: none;
}

.social {
    list-style: none;
    align-items: center;
    padding: 0;
    display: flex;
    gap: 30px;
}

    .social .icons {
        margin-top: 10px;
        display: flex;
        gap: 15px;
    }

        .social .icons a {
            color: #fff;
            font-size: 22px;
            text-decoration: none;
        }

            .social .icons a:hover {
                background: #00aaff;
            }

footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #ccc;
}

/* If tab isnt fitting */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-right {
        margin-top: 20px;
    }

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}

