.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(5,5,5);

    position: sticky;
    top: 0;
    z-index: 999;
}
.header_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: black;
}
.footer_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
    align-items: center;
}

    .footer_2 p {
        color: white;
        font-size: 14px;
        font-weight: 300;
    }
    .footer_2 a {
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
    }
