.particles-overlay {
    position: relative;
    overflow: hidden;
}
    .particles-overlay .particles {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 2;
    }

        /* particle */
        .particles-overlay .particles span {
            position: absolute;
            width: 2px;
            height: 2px;
            background: #ffffff;
            border-radius: 50%;
            opacity: 0.6;
            animation: floatLR 3s ease-in-out infinite alternate;
        }

            .particles-overlay .particles span:nth-child(1) {
                top: 10%;
                left: 0;
                animation-duration: 2.5s;
            }

            .particles-overlay .particles span:nth-child(2) {
                top: 30%;
                left: 20%;
                animation-duration: 3s;
            }

            .particles-overlay .particles span:nth-child(3) {
                top: 50%;
                left: 40%;
                animation-duration: 2.8s;
            }

            .particles-overlay .particles span:nth-child(4) {
                top: 70%;
                left: 60%;
                animation-duration: 3.2s;
            }

            .particles-overlay .particles span:nth-child(5) {
                top: 20%;
                left: 80%;
                animation-duration: 2.6s;
            }

            .particles-overlay .particles span:nth-child(6) {
                top: 85%;
                left: 10%;
                animation-duration: 3.4s;
            }

            .particles-overlay .particles span:nth-child(7) {
                top: 45%;
                left: 90%;
                animation-duration: 2.9s;
            }

/* movement*/
@keyframes floatLR {
    0% {
        transform: translateX(0);
        opacity: 0.4;
    }

    50% {
        transform: translateX(6px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0.4;
    }
}
