/* Font: */
html {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(5,5,5);
    position: sticky;
    top: 0;
    z-index: 999;
}
.header_2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header_1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_1 img{
    height: 35px;
    width: 35px;

}

/*footer*/
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
    
}

.footer-container {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left .logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.logo-icon {
    margin-right: 10px;
    font-size: 26px;
}
.logo-icon img{
    height: 35px;
    width: 35px;
}

.footer-right {
    max-width: 700px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    display: flex;
    gap: 30px;
}

    .footer-nav a {
        cursor: default;
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
    }

        .footer-nav a:hover {
            text-decoration: underline;
        }

.contact p {
    color: white;
    
    margin: 5px 0;
}
.contact a {
    color: white;
    
    margin: 5px 0;
    text-decoration: none;
}

.social {
    list-style: none;
    align-items: center;
    padding: 0;
    display: flex;
    gap: 30px;
}

    .social .icons {
        margin-top: 10px;
        display: flex;
        gap: 15px;
    }

        .social .icons a {
            cursor: default;
            color: #fff;
            font-size: 22px;
            text-decoration: none;
        }

            .social .icons a:hover {
                background: #00aaff;
            }

footer .copyright {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #ccc;
}

/* If tab isnt fitting */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-right {
        margin-top: 20px;
    }

    .footer-nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}



/* TABS */
.tabs {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 20px;
    padding-bottom: 0;
    background: black;
    /* border-bottom: 2px solid #0d0d0d; */
}

.tab-btn {
    padding: 12px 26px;
    background: #0a0a0a;
    border: 1px solid #111;
    color: #e5e5e5;
    cursor: default;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.25s;
}

    .tab-btn.active {
        background: #1a1a1a;
        border-color: #333;
        color: #fff;
    }

    .tab-btn:hover {
        background: #161616;
        border-color: #2a2a2a;
    }

/* content  */
.tab-content {
    display: none;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
    color: #e5e5e5;
}

    .tab-content.active {
        display: block;
    }

/* albums */
.album-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 40px;
}

.album {
    width: 330px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 17px;
    background: #111;
    box-shadow: 0 0 18px rgba(255,255,255,0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: default;
}

    .album:hover {
        transform: translateY(-5px);
        box-shadow: 0 0 25px rgba(255,255,255,0.08);
    }

    .album img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
        z-index: 1;
    }

    .album:hover img {
        transform: scale(1.05);
    }

.album-title {
    position: absolute;
    bottom: 10px;
    left: 15px;
    right: 15px;
    z-index: 2;
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.6);
    text-align: center;
}

